.homepage {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.homepage-navWraper {
  position: relative;
  flex: 0.2;
}

.homepage-timeline {
  flex: 0.7;
}

@media (max-width: 1480px) {
  .homepage {
    gap: 20px;
  }

  .homepage-navWraper {
    position: relative;
    flex: 0.1;
    width: 60px !important;
  }

  .homepage-timeline {
    display: flex;
    flex: 1;
    justify-content: center;
    flex: 1;
  }

}

@media (max-width: 1100px) {
  .homepage {
    display: flex;
    flex-direction: column !important;
  }
}

